tongue_dataset/
RGBD_Mouth_Tongue_Dataset/
notes/
logs/
cascade_detector/MouthDataSet/
__pycache__/
*.pyc
.idea/
.DS_Store
participants.txt
slurm*
models/alexnet_weights.h5
models/bvlc_alexnet.npy
models/inception_v3.ckpt
config
